<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/TPJEE_V2</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">Djerba25</property>

        <!-- JDBC connection pool (not for production) -->
        <property name="connection.pool_size">5</property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Show SQL in console -->
        <property name="show_sql">true</property>

        <!-- Automatically create/update the database schema -->
        <property name="hbm2ddl.auto">update</property>

        <!-- Annotated classes -->
        <mapping class="com.example.model.Product"/>

    </session-factory>
</hibernate-configuration>
